@import 'css/helper.css';
@import 'css/pe-icon-7-stroke.css';
/* @font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('font/Pe-icon-7-stroke.eot');
	src:url('font/Pe-icon-7-stroke.eot') format('embedded-opentype'),
		url('font/Pe-icon-7-stroke.woff') format('woff'),
		url('font/Pe-icon-7-stroke.ttf') format('truetype'),
		url('font/Pe-icon-7-stroke.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}  */
@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


*{box-sizing: border-box;}
/* .title::after{
    content: "";
    position: absolute;
    display: block;
    background-image: linear-gradient(to right, rgb(42, 195, 22) 33.33%, rgb(237, 245, 25) 33.33%, rgb(237, 245, 25) 66.66%, rgb(42, 195, 22) 66.66%);
    background-repeat: no-repeat;
    width: 150px;
    height: 5px;
    transform: translateX(50%);
    right: 50%;
    margin-bottom: 10px;
} */
header{
    position: relative;
}

.title
{
    position: relative;
    color: rgb(255, 14, 14);
    text-align: center;
    margin-bottom: 20px;
}
header .gachchan{
    background-color: rgb(70, 217, 17);
    width: 200px;
    height:5px;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
header .gachchan span{
    background-color: rgb(210, 221, 9);
    width: 50px;
    height:5px;
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
header .search
{
    border: 1px solid;
    border-radius: 15px;
    width: 250px;
    height: 30px;
    background-color: black;
    position: relative;
    display: inline-block;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 20px;
}
header .search input
{ 
    position: absolute;
    border: 1px solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70%;
    height: 100%;
    text-align: left;
    outline: none;
    padding-left: 12px;

}
.search::after
{
    position: absolute;
    content:"\e618";
    width: 25xp;
    height: 80%;
    font-family: 'Pe-icon-7-stroke';
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 1;
    border: 1px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: black;
    font-size: 25px;
    right: 0;
    display: inline-block;
    transform: translateX(-30%);
    transform: translateY(-50%);
    top:50%;


    
}

/* .title::before{
    content: "";
    position: absolute;
    display: block;
    background: green;
    width: 100px;
    height: 3px;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    z-index: 1;
}
.title::after{
    content: "";
    position: absolute;
    display: block;
    background: yellow;
    width: 200px;
    height: 3px;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
} */



header p{
    
    text-align: center;
    color: rgb(11, 158, 109);
    width: 40%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 5px;
    padding-top: 20px;
}

.container{
    margin: 0 auto;
    justify-content: space-between;

}
.box1::before
{
    content:"\e6c0";
    width: 40px;
    font-family: 'Pe-icon-7-stroke';
    height: 40px;
    font-size: 30px;
    background-color: orange;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 4px 10px;
}
.box2::before
{
    content:"\e689";
    width: 40px;
    font-family: 'Pe-icon-7-stroke';
    height: 40px;
    font-size: 30px;
    background-color: orange;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 4px 10px;
}
.box3::before
{
    content:"\e6c1";
    width: 40px;
    font-family: 'Pe-icon-7-stroke';
    height: 40px;
    font-size: 30px;
    background-color: orange;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 2px 4px 10px;
}
section
{
    margin-top: 20px ;
}

.box .item 
{
    width: 30%;
    float: left;
    margin: 15px;
    text-align: center;
    /* border: 1px solid black; */
    padding: 15px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.box .item:first-child
{
   margin-left: 0;
}
.box .item:last-child
{
   margin-right: 0;
    
}




