.box{
    background-color: blueviolet;
    width: 25%;
    height:30vw;
    color: red;
    padding: 1vw;
    float: left;
    border: 1px solid; border-color: #f0f8ff;
    box-sizing: border-box;
    font-size: 1vw;
}