header{
    width: 100%;
    position: relative;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
}
html{
    font-size: 62.5%;
}
img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
.all-header-bot{
    width: 100%;
    position: relative;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #ffffff;
    box-shadow: 0px 20px 34px #0000000d;
}
.headers__top
{   
    width: 100%;
    height: 100%;
    color: var(--white1);
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
    background: #192335;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.container-mid{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.styleheadertop{
    width: 100%;
    height: 34px;
    min-height: 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    
}

.header__social
{
    display: flex;
}
.social__item
{   
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3 ease;
}
.social__item span
{
    margin-left: 4px;
}
.social__item:hover{
    color: white;
}
.headers__middle{
    position: relative;
    display: flex;
    align-items: center;
}
.headers__middle .hot
{
    background: #2f57ef;
    border-radius: 10px;
    color: white;
    padding: 2px 6px;
    font-size: 9px;
    text-justify: center;
    text-align: center;
    display: inline-block;
    
}
.text-mid{
    display: flex;
    align-items: center;
}
.headers__middle .wave{
    width: 15px;
    margin: 0 4px;
}
.headers__last
{
    position: relative;
    display: flex;
    align-items: center;
}
.headers__last .icon
{
    font-size: 15px;
    display: flex;
    position: relative;
    padding-right: 5px;
    border-right: 2px solid var(--tx1);
}
.headers__last .icon i{
    margin: 0 5px;
    width: 22px;
    height: 22px;
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.headers__last .icon i:hover
{
    color: white;
    background-color: var(--tx1);
    border-radius: 50%;
}
.headers__last .lag
{
    position: relative;
    display: flex;
    margin: 0 15px;
    align-items: center;
}
.headers__last .lag span{
    font-size: 14px;
    margin: 0 0 0 15px;
}
.headers__last .lag img
{
    margin: auto;
}
.headers__last .lag i
{
    margin: 0 2px;
    font-size: 14px;
}
.headers__last .cur
{
    font-size: 14px;
    margin: auto;
    align-items: center;
    display: flex;
    
}
.headers__last .cur i
{
    margin: 0 2px;
    font-size: 14px;
    padding: 3px;
}
/* Header */
.header{
    background: #fff;
    width: 100%;
    height: 100%;
    min-height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    position: relative;
}
.header__first
{
    display: flex;
    align-items: center;
    padding: 0;
}
.header__first .logo
{
    margin-right: 15px;
    cursor: pointer;
    width: 50%;
}
.header__first .category
{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    background: #f5f5f5;
    border-radius: 24px;
    padding: 12px 24px;
    cursor: pointer;
    width: 150px;
    height: 32px;
}
.header__first .category span{
    margin: 0 5px;
    font-size: 15px;
}
.header__mid{
    display: flex;
    
}
.header__mid .mainmenu-nav .mainmenu
{
    display: flex;
    flex-direction: row;
}
.mainmenu-nav .mainmenu .has-menu-child-item
{
    margin: 0 5px;
    display: flex;
    align-items: center;
}
.mainmenu .has-menu-child-item a
{
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 500;
}
.has-menu-child-item .courses-dropdown{
    display: flex;
    position: absolute;
    flex-direction: column;
    transform: translateY(58.7%);
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 0;
    width: 500px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    visibility: visible;
    opacity: 0;
    clip: rect(0px, 200vw, 0, 0px);
    transition: clip 0.6s linear, all 0.4s linear;
}
.has-menu-child-item:hover>.courses-dropdown{
    visibility: visible;
    opacity: 1;
    clip: rect(0px, 100vw, 200vh, -50px);
    transition: clip 0.6s linear, opacity 0.4s linear;
}
.has-menu-child-item:hover>a{
    color: var(--blue-hover);
}
.top-content-courses{
    background-image: url(https://rainbowit.net/html/histudy/assets/images/course/category-10.png);
    display: flex;
    width: auto;
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    height: 120px;
}
.top-content-courses h3{
    margin-bottom: 5px;
    font-size: 16px;
}
.top-content-courses p{
    font-size: 10px;
    font-size: 12px;
}
.content-courses{
    width: 50%;
    color: white;
    margin: 20px 20px;

}
.sub-menu-courses{
    display: flex;
    justify-content: space-between;
    margin: 18px 10px;
    color: var(--tx1);
    font-size: 14px;
}
.sub-menu-courses .course-layout{
    padding: 10px;
    flex: 50%;
}
.sub-menu-courses .course-layout a{
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    font-weight: 600;
}
.sub-menu-courses .course-layout span{
    border-bottom: 1px solid rgb(211, 211, 211, 0.6);
    display: block;
    width: 100%;
    padding-bottom: 10px;
}
.sub-menu-courses .course-layout a:hover{
    color: var(--blue-hover);
    background: var(--gray-hover-bg);
    border-radius: 5px;
}


.has-menu-child-item .submenu
{
    display: flex;
    position: absolute;
    flex-direction: column;
    transform: translateY(102%);
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 10px 20px 10px 10px;
    width: max-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    visibility: hidden;
    transition: all 0.4s linear;
}
.has-menu-child-item:hover>.submenu
{
    visibility: visible;
}
/* Mid header menu - Pages */
.pages-dropdown{
    display: flex;
    position: absolute;
    flex-direction: column;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(20%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: row;
    padding: 10px;
    font-weight: 600;
    color: var(--tx1);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    left: 0;
    clip: rect(0px, 200vw, 0, 0px);
    transition: clip 0.6s linear, all 0.4s linear; 
}
.has-menu-child-item:hover>.pages-dropdown{
    visibility: visible;
    opacity: 1;
    clip: rect(0px, 100vw, 200vh, -100vw);
    transition: clip 0.6s linear, opacity 0.4s linear;
    
}
.has-menu-child-item .pages-layout li:hover{
    color: var(--blue-hover);
    background: var(--gray-hover-bg);
    border-radius: 4px;
}
.sub-menu-pages{
    flex: 1;
}

.pages-layout{
    margin: 5px 10px;
}
.pages-layout span{
    padding: 10px 0;
    border-bottom: 1px solid var(--tx1);
    width: 100%;
    display: block;
    opacity: 0.5;
}
.sub-menu-pages .hot-tag{
    display: flex;
    align-items: center;
}
.sub-menu-pages .hot-tag span{
    display: block;
    margin: 0 5px;
    padding: 3px 10px;
    background: linear-gradient(90deg, #2f57ef 15%, #b966e7 45%, #b966e7 75%, #2f57ef 100%) 95%/200% 100%;
    color: white;
    border-radius: 15px;
    font-size: 10px;
    opacity: 0.5;
}
.pages-layout li{
    width: 100%;
}
.pages-layout li span{
    width: fit-content;
}
.pages-layout a{
    padding: 5px 10px 5px 10px;
    margin: 5px 0;
}
.nav-pages{
    position: relative;
    z-index: 1;
    padding: 25px 20px;
}
.nav-pages .thumb .img{
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.nav-pages .thumb .img img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
   
.nav-pages .thumb a{
    display: flex;
    align-items: center;
}
.nav-pages .thumb a:hover{
    color: var(--blue-hover);
}
.nav-pages .thumb a i{
    padding-left: 4px;
    font-size: 18px;
}
.nav-pages .thumb a:hover>i{
    transform: translateX(20%);
}
.has-menu-child-item i
{
    transition: all 0.3s;
}
.has-menu-child-item:hover>a>i
{
    transform: rotate(180deg);
    color: var(--blue-hover);
}
.has-menu-child-item:hover>a
{
    color: var(--blue-hover);
}

.has-menu-child-item .submenu li
{
    margin: 5px;
}
.has-menu-child-item .submenu a
{
    font-size: 13px;
    color: var(--tx1);
}
/* Mid header menu - Elements */
.elements-dropdown{
    display: flex;
    position: absolute;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 0;
    left: 0;
    top: 0;
    width: 70%;
    transform: translateX(20%) translateY(17.5%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    color: var(--tx1);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    left: 0;
    clip: rect(0px, 200vw, 0, 0px);
    transition: clip 0.6s linear, all 0.4s linear;
}
.has-menu-child-item:hover .elements-dropdown{
    visibility: visible;
    opacity: 1;
    clip: rect(0px, 100vw, 200vh, -100vw);
    transition: clip 0.6s linear, opacity 0.4s linear;
}
.nav-elements{
    display: flex;
}
.sub-menu-elements{
    flex: 1;
    padding: 15px;
}
.sub-menu-elements .hot-tag{
    display: flex;
    align-items: center;
}
.sub-menu-elements .hot-tag span{
    display: block;
    margin: 0 5px;
    padding: 3px 10px;
    background: linear-gradient(90deg, #2f57ef 15%, #b966e7 45%, #b966e7 75%, #2f57ef 100%) 95%/200% 100%;
    color: white;
    border-radius: 15px;
    font-size: 10px;
    opacity: 0.5;
}
.elements-layout a{
    padding: 10px 5px;
}
.has-menu-child-item .elements-layout li:hover{
    color: var(--blue-hover);
    background: var(--gray-hover-bg);
    border-radius: 4px;
}
.bot-elements{
    width: 100%;
    height: 60px;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, rgba(65,91,255,1), rgba(234,112,255,1), rgba(234,112,255,1), rgba(65,91,255,1));
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
    margin: 10px 0;
}
.bot-elements:hover{
    background-color: inherit;
    background-position: 102% 0;
    transition: all 0.4s ease-in-out;
}
.warp-elements{
    display: flex;
    font-size: 16px;
    color: white;
}
.warp-elements i{
    padding-left: 6px;
    display: inline-block;
    top: 0px;
    position: relative;
    font-size: 17px;
    margin-left: 20px;
}
.warp-elements span{
    display: inline-block;
    transition: transform 0.6s 0.125s cubic-bezier(0.1, 0.75, 0.25, 1);
    margin-inline-start: -23px;
}
.bot-elements:hover span{
    transition-delay: 0.1s;
    transform: translateX(23px);
    color: white;
}
.bot-elements .wrap-icon {
    display: inline-block;
    transition: opacity 0.4s 0.25s, transform 0.6s 0.25s;
    transition-timing-function: ease-out;
}
.bot-elements:hover .wrap-icon{
    opacity: 0;
    transition-delay: 0s;
    transform: translateX(10px);
}
.bot-elements .wrap-icon + .wrap-icon {
    order: -2;
    display: inline-block;
    margin-inline-start: 0;
    margin-inline-end: 0;
    opacity: 0;
    transform: translateX(-10px);
    transition-delay: 0s;
}
.bot-elements .wrap-icon + .wrap-icon i{
    padding-right: 0;
    padding-right: 5px;
}
.bot-elements:hover .wrap-icon + .wrap-icon {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.225s;
    color: white;
}
/* Mid header menu - Blog */
.blog-dropdown{
    display: flex;
    position: absolute;
    flex-direction: column;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding: 0;
    left: 0;
    top: 0;
    width: 65%;
    transform: translateX(30%) translateY(24%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: row;
    padding: 5px;
    font-weight: 600;
    color: var(--tx1);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    left: 0;
    clip: rect(0px, 200vw, 0, 0px);
    transition: clip 0.6s linear, all 0.4s linear; 
}
.has-menu-child-item:hover>.blog-dropdown{
    visibility: visible;
    opacity: 1;
    clip: rect(0px, 100vw, 200vh, -100vw);
    transition: clip 0.6s linear, opacity 0.4s linear;
    
}
.has-menu-child-item .blog-layout li:hover{
    color: var(--blue-hover);
    background: var(--gray-hover-bg);
    border-radius: 4px;
}
.sub-menu-blog{
    flex: 1;
}
.sub-menu-blog .hot-tag{
    display: flex;
    align-items: center;
}
.sub-menu-blog .hot-tag span{
    display: block;
    margin: 0 5px;
    padding: 3px 10px;
    background: linear-gradient(90deg, #2f57ef 15%, #b966e7 45%, #b966e7 75%, #2f57ef 100%) 95%/200% 100%;
    color: white;
    border-radius: 15px;
    font-size: 10px;
    opacity: 0.5;
}
.blog-layout{
    margin: 5px 10px;
}
.blog-layout span{
    padding: 10px 0;
    border-bottom: 1px solid var(--tx1);
    width: auto;
    display: block;
    opacity: 0.5;
    margin-bottom: 10px;
}
.blog-layout li{
    text-align: center;
}
.blog-layout a{
    padding: 8px;
}

.pages-layout img{
    border-radius: 8px;
    background-size: cover;
}
/* Header Last */
.header__last
{
    display: flex;
    font-size: 15px;
    width: fit-content;
    margin: 0;
}
.header__last div
{
    margin: 0 12px;
}
.header__last
{
    display: flex;
    align-items: center;
}
.header__last >div
{
    display: flex;
    align-items: center;
}
.header__last span
{
    margin-left: 5px;
    font-weight: 500;
}
.header__last .roll
{
    width: 80px;
    height: 30px;
    background: rgb(234,112,255);
    background: linear-gradient(90deg, rgba(234,112,255,1) 0%, rgba(65,91,255,1) 100%);
    border-radius: 15px;
}
.header__last .ri-shopping-cart-2-line{
    border-right: 1px solid rgb(179, 179, 179);
    padding-right: 15px;
}
.accordion.active .panel{
    overflow: hidden;
    display: block;
    height: 100%;
    opacity: 1;
    visibility: visible;
}
.main-mobile-menu a
{
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
}
.main-mobile-menu .mobile-menu1
{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
.mobile-menu1 .child-menu1
{
    margin-left: 3px 20px;
}
.child-menu1 li
{
    margin-left: 20px;
}

.inner-wrapper .roll{
    font-size: 12px;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: double 4px transparent;
    border-radius: 20px;
    background-image: linear-gradient(white, white), 
                    linear-gradient(90deg, rgba(234,112,255,1) 0%, rgba(65,91,255,1) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin-left: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.inner-wrapper .nav-social{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    opacity: 0.4;
}
.nav-social .social{
    display: flex;
    margin: 10px 0px 0 0;
    width: 100%;
    border-top: 1px solid rgb(179, 179, 179, 0.7);
    padding-top: 30px;
    gap: 10px;
} 
.nav-social .social i{
    overflow: hidden;
    width: 48px ;
    height: 48px;
    font-size: 18px;
    padding: 10px;
    border: 2px solid rgb(203, 203, 203);
    border-radius: 50%;
    display: block;
    text-align: center;
    
}
/* Main - Wrapper */
.main-wrapper{
    width: 100vw;
}
.banner-area{
    background-color: var(--white1);
    padding: 0;
    position: relative;
    overflow: hidden;
    background: url(https://rainbowit.net/html/histudy/assets/images/bg/bg-g1.webp);
    height: auto;
    background-position: top center;
    padding-top: 50px;
    
}
.banner-area-1::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    background: url(https://rainbowit.net/html/histudy/assets/images/bg/banner-bg-shape-1.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 145px;
    z-index: 9;
}
.banner-area-1{
    width: 100%;
    padding-bottom: 120px !important;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-badge{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    background: white;
    width: fit-content;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 15px 40px #d2d3e2a1;
}
.new-badge span{
    font-size: 15px;
    padding: 2px;
    margin-right: 5px;
    color: rgb(255, 255, 0);
}
.new-badge h3{
    font-size: 14px;
    z-index: 9;
}
.new-badge::before{
    content: '';
    display: flex;
    position: absolute;
    background: rgb(255, 255, 255, 0.5);
    clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0 100%, 3% 50%, 0 0);
    height: 35px;
    left: -20px;
    right: -20px;
    width: calc(100% + 40%px);
}
.inner{
    position: relative;
    z-index: 1;
}
.inner h1{
    font-size: 40px;
    margin: 30px 0;
}
.inner p{
    color: var(--tx1);
    font-size: 15px;
    padding-right: 20%;
    margin-bottom: 40px;
}


.slider-btn{
    width: fit-content;
    padding: 10px 20px;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, rgba(65,91,255,1), rgba(234,112,255,1), rgba(234,112,255,1), rgba(65,91,255,1));
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 14px;
    transition: all 0.4s ease-in-out;
}
.slider-btn:hover{
    background-color: inherit;
    background-position: 102% 0;
    transition: all 0.4s ease-in-out;
}
.warp-course{
    display: flex;
    font-size: 16px;
    color: white;
    position: relative;
    left: -8px;
}
.warp-course i{
    padding-left: 6px;
    display: inline-block;
    top: 0px;
    position: relative;
    font-size: 17px;
    margin-left: 20px;
}
.warp-course span{
    display: inline-block;
    transition: transform 0.6s 0.125s cubic-bezier(0.1, 0.75, 0.25, 1);
    margin-inline-start: -23px;
}
.slider-btn:hover span{
    transition-delay: 0.1s;
    transform: translateX(23px);
    color: white;
}
.slider-btn .wrap-icon {
    display: inline-block;
    transition: opacity 0.4s 0.25s, transform 0.6s 0.25s;
    transition-timing-function: ease-out;
}
.slider-btn:hover .wrap-icon{
    opacity: 0;
    transition-delay: 0s;
    transform: translateX(10px);
}
.slider-btn .wrap-icon + .wrap-icon {
    order: -2;
    display: inline-block;
    margin-inline-start: 0;
    margin-inline-end: 0;
    opacity: 0;
    transform: translateX(-10px);
    transition-delay: 0s;
}
.slider-btn .wrap-icon + .wrap-icon i{
    padding-right: 0;
    padding-right: 5px;
}
.slider-btn:hover .wrap-icon + .wrap-icon {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.225s;
    color: white;
}

.shape-warpper{
    z-index: 2;
    left: -40px;
}
.shape-warpper img{
    max-width: 534px;
    z-index: -1;
}

.card-slide.wiper-top{
    overflow: hidden;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
    max-width: 390px;
    height: 100%;
    color: var(--tx1);
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
}
.card-img{
    position: relative;
}
.card-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.card-saleoff{
    position: absolute;
    bottom: 23px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: transparent !important;
}
.card-saleoff::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(https://rainbowit.net/html/histudy/assets/images/icons/offer-badge-bg-color.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.card-saleoff span{
    color: var(--white);
    font-weight: 700;
    font-size: 12px;
}
.card-body{
    padding-top: 30px;
}
.card-meta li{
    font-size: 14px;
    color: var(--tx1);
    display: inline-block;
    margin: 7px;
    font-weight: 500;
    text-align: center;
    margin-left: 0;
}
.card-meta li i{
    margin-right: 5px;
}
.card-title{
    font-size: 26px;
    margin-bottom: 10px;
}
.card-text{
    font-size: 16px;
    margin-bottom: 20px;
}
.card-rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.card-rating .rating{
    display: flex;
    align-items: center;
    margin-right: 6px;
}
.card-rating .rating i{
    color: #FF9747;
    font-size: 13px;
}
.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.card-price{
    display: flex;
    align-items: center;
}
.card-price .current-price{
    font-size: 24px;
    font-weight: 700;
}
.card-price .off-price{
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
    opacity: 0.4;
    margin-left: 7px;
}
.card-link{
    display: flex;
    font-weight: 600;
    position: relative;
    align-items: center;
    font-size: 14px;
}
.card-link i{
    top: 1px;
    padding-left: 4px;
}
.slide-card .card-link:hover{
    color: var(--blue-hover);
}
.slide-card .card-link:hover::after{
    width: 100%;
    left: 0;
}
.slide-card .card-link i{
    margin-left: 6px;
    vertical-align: bottom;
}
.slide-card .card-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    left: auto;
    background: currentColor;
    width: 0;
    right: 0;
    transition: 0.3s;
}

.swiper.mySwiper {
    max-width: 390px;
    height: 100%;
  }

/* .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
} */
.mySwiper.swiper-3d .swiper-slide-shadow {
    background: #fff;
}
.mySwiper.swiper-cards .swiper-slide{
    overflow: visible;
}
.mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal{
    top: auto;
    bottom: -35px;
}
/* Category-Box-Layout */
.list-category{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6em;
    font-size: 1rem;
}
.row{
    padding: 20px;
}
.title-text-center{
    text-align: center;
    height: 100%;
}
.sub-title{
    color: var(--blue-hover);
    font-size: 1.6rem;
    font-weight: 600;
    background: #2f57ef21;
    padding: 1em 2em;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 2em;
}
.title-text-center .title{
    font-size: 3em;
}
.cat-box{
    padding: 0 1.5em;
    margin-top: 3em;
    width: 25%;
    flex: 0 0 auto;
    transition: 0.3s;
}
.cat-box:hover{
    transform: translateY(-10px);
}
.text-center-box{
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);;
    border-radius: 12px;
    padding: 5em 3em;
    text-align: center;
}
.icon-box img{
    max-height: 80px;
}
.content-box h5{
    font-size: 2em;
    margin: 1.5em 0 0.5em 0 ;
    font-weight: 700;
}
.content-box .read-more{
    display: inline-block;
    font-size: 1.6em;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
    text-align: center;
    line-height: 1.5;
}
.content-box .read-more:hover{
    color: var(--blue-hover);
}
.content-box .read-more:hover::after{
    width: 100%;
    left: 0;
}
.content-box .read-more i{
    margin-left: 6px;
    vertical-align: bottom;
}
.content-box .read-more::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    left: auto;
    background: currentColor;
    width: 0;
    right: 0;
    transition: 0.3s;
}
/* Courses-Box-Layout */
.list-course{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}
.courses-layout{
    padding-top: 90px;
    background: #F9F9FF;
    padding-bottom: 100px;
}
.list-course .card-slide.wiper-mid{
    transition: 256ms ease-in-out;
    margin: 0 10px 10px 10px;
    width: 30%;
    max-width: none;
    flex: 0 0 auto;
    height: auto;
    background: #fff;
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
    padding: 30px;
    border-radius: 6px;

}
.card-slide.wiper-mid:hover{
    transform: scale(1.02);
}
.row-courses{
    padding: 20px;
}
.second-title-text-center{
    text-align: center;
    height: 100%;
}
a.second-title-text-center .sub-title{
    color: #b966e7;
    font-size: 16px;
    font-weight: 600;
    background: #b966e721;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
}
.second-title-text-center .title{
    font-size: 3em;
}
.list-course .card-rating{
    display: flex;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.list-course .card-rating .rating i{
    font-size: 20px;
}
.list-course .course-review{
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
}
.card-rating .tag{
    font-size: 18px;
    right: 10px;
    display: flex;
    position: absolute;
    transition: 0.3s;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
}
.card-rating .tag:hover{
    background: rgb(211, 211, 211, 0.6);
    color: var(--blue-hover);
}
.list-course .card-title{
    margin-bottom: 0px;
    font-size: 22px;
}
.list-course .card-text{
    margin: 10px 0;
}
.list-course .author-meta{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.list-course .author-meta .avatar{
    margin-right: 10px;
}
.list-course .author-meta img{
    width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #2f57ef21;
    padding: 2px;
}
.list-course .author-info{
    font-size: 14px;
    font-weight: 500;
}
.list-course .author-info a{
    font-weight: 700;
}
.list-course .card-link:hover{
    color: var(--blue-hover);
}
.list-course .card-link:hover::after{
    width: 100%;
    left: 0;
}
.list-course .card-link i{
    margin-left: 6px;
    vertical-align: bottom;
}
.list-course .card-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    left: auto;
    background: currentColor;
    width: 0;
    right: 0;
    transition: 0.3s;
}
.card-slide .cart-link i{
    margin: 0 6px 0 0;
    padding: 0;
}
.container-mid .slider-btn{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}
.container-mid .slider-btn{
    min-width: 360px;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}
.container-mid .slider-btn .warp-course{
    position: relative;
    left: -6px;
    font-weight: 600;
    font-size: 18px;
    align-content: center;
}
/* About Area */
.about-area__info{
    align-items: center;
    display: flex;
    position: relative;
    font-size: 1rem;
}
.about-area__info-left{
    flex: 1;
    position: relative;
}
.about-area__info-right{
    flex: 1;
    padding-left: 3em;
}
.sub-area{
    font-size: 1.4em;
    color: #E9967A;
    background: #E9967A21;
    padding: 0.7em 1.4em;
    border-radius: 1.4em;
    font-weight: 600;
}
.about-area__section h2{
    font-size: 3.5em;
    padding: 0.8em 0;
}
.about-area__inner p{
    font-size: 1.7em;
    font-weight: 500;
    color: var(--tx1);
    opacity: 0.9;
    line-height: 1.7em;
}
.feature-area{
    padding: 0.8em 0;
}
.feature-area .feature{
    display: flex;
    padding: 1.5em;
    transition: transform .85s cubic-bezier(.23,1,.32,1),background .3s,border .3s,border-radius .3s,box-shadow .3s;
}
.feature-area .feature:hover{
    box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}
.feature__icon1{
    font-size: 2.5em;
    padding: 1em;
    color: #DB7093;
    background: #DB709321;
    display: block;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 0.6em;
}
.feature__icon2{
    font-size: 2.5em;
    padding: 1em;
    color: #2f57ef;
    background: #2f57ef21;
    display: block;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 0.6em;
}
.feature__inner h6{
    font-size: 1.9em;
    font-weight: 600;
    line-height: 1.9em;
}
.feature__inner p{
    opacity: 0.9;
    font-weight: 500;
    line-height: 1.7em;
}
.thumbnail-img-1{
    left: -100px;
    position: relative;
}
.thumbnail-img-1 img{
    max-height: 490px;
    object-fit: cover;
    border-radius: 6px;
}
.thumbnail-img-2{
    position: absolute;
    right: 0;
    top: 0;
}
.thumbnail-img-2 img{
    max-height: 250px;
    object-fit: cover;
    border-radius: 6px;
}
.thumbnail-img-3{
    position: relative;
    left: 150px;
    top: -179px;
}
.thumbnail-img-3 img{
    max-height: 530px;
    object-fit: cover;
    border-radius: 6px;
}
.feature-area .slider-btn{
    margin: 1.5em 0 0 1em;
}
/* Call To Action */
.callto-action{
    margin-bottom: -25em;
    z-index: 1;
}
.action__info{
    justify-content: space-between;
    display: flex;
    position: relative;
    font-size: 1rem;
    height: 100%;
    margin: 8em 0;
}
.action__info-left{
    padding: 4em;
    flex: 1;
    margin-right: 1.5em;
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
    border-radius: 8px;
    background: white;
}
.action__info-right{
    padding: 4em;
    flex: 1;
    margin-left: 1.5em;
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
    border-radius: 8px;
    background: white;
}
.action-collect{
    display: flex;
}
.action__tag a{
    font-size: 1.4em;
    color: #6b7385;
    padding: 0.5em 1.2em;
    border-radius: 1.4em;
    font-weight: 600;
    border: 1px solid #e6e3f1;
    line-height: 3.5em;
}
.action__tag a:hover{
    background: rgba(207,207,207,.24);
}
.action__tag h4{
    font-size: 2.5em;
    margin: 0.5em 1em 0.5em 0 ;
    font-weight: 800;
}
.action__tag p{
    font-size: 1.7em;
    font-weight: 500;
    color: var(--tx1);
    opacity: 0.9;
    line-height: 1.7em;
    margin-bottom: 2em;
}
.action-collect__video{
    flex: 0 0 auto;
    width: 58%;
    padding-left: 1em;
}
.video-wrapper{
    display: flex;
    position: relative;
}
.video-wrapper img{
    border-radius: 6px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    position: relative;
}
.round-play{
    position: absolute;
    display: flex;
    font-size: 3em;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    color: var(--blue-hover);
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    background: #fff;
    border-radius: 50%;
}
.video-wrapper .round-play::before{
    content: '';
    display: block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
    border: 1.5px solid #fff;
    animation: ripple 2s linear infinite;
}
.video-wrapper .round-play::after{
    content: '';
    display: block;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    transition: 0.3s;
    border: 1.5px solid #fff;
    animation: ripple 2s linear 1s infinite;
    -webkit-animation: ripple 2s linear 1s infinite;
}
    /*KeyFrames Ripple Button - Animation */
    @keyframes ripple {
        0% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
            opacity: 1;
        }

        75% {
            -webkit-transform: scale(1.9);
            transform: scale(1.9);
            opacity: 0.50;
        }

        100% {
            -webkit-transform: scale(2.3);
            transform: scale(2.3);
            opacity: 0;
        }
    }

    @-webkit-keyframes btnIconRipple {
        0% {
            border-width: 4px;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        80% {
            border-width: 1px;
            -webkit-transform: scale(1.35);
            transform: scale(1.35)
        }

        100% {
            opacity: 0
        }
    }

    @keyframes btnIconRipple {
        0% {
            border-width: 4px;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        80% {
            border-width: 1px;
            -webkit-transform: scale(1.35);
            transform: scale(1.35)
        }

        100% {
            opacity: 0
        }
    }
.action-teacher .slider-btn{
    overflow: hidden;
    position: relative;
    padding: 1em 2.5em;
    display: flex;
    min-width: 4em;
    left: 0;
    transform: none;
}
.action-teacher .slider-btn .warp-course{
    left: 0.8em;
    padding: 0;
    margin: 0;
}
.action-teacher .slider-btn .warp-course span::after{
    content: 'Join Now';
    display: inline-block;
    position: absolute;
    transform: translateX(100%);
    white-space: nowrap;
}
.action-teacher .slider-btn:hover span{
    transform: translateX(-200%);
}
.action-teacher .slider-btn:hover .slider-btn .warp-course::after{
    opacity: 1;
    transform: translate(0);
}
/* Start Counterup Area */
.counterup-layout{
    font-size: 1rem;
    background: #F9F9FF;
    padding-top: 22em;
    padding-bottom: 10em;
}
.row-counterup{
    margin-bottom: 5em;
}
.row-counterup .second-title-text-center{
    text-align: center;
}
.row-counterup .sub-title {
    color: var(--blue-hover);
    font-size: 1.4rem;
    font-weight: 600;
    background: #2f57ef21;
    padding: 1em 2em;
    border-radius: 1.5em;
    display: inline-block;
    margin-bottom: 2em;
}
.row-counterup title{
    font-size: 3.2em;
}
.hanger-line{
    position: relative;
    padding-top: 3em;
    display: flex;
    flex-wrap: wrap;
}
.hanger-line::before{
    content: '';
    width: 100%;
    height: 0.4em;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, var(--blue-hover) 0, rgba(255, 255, 255, 0) 70%);;
    display: flex;
}
.hanger-box{
    padding: 0 2em;
    margin-top: 4em;
    width: 25%;
    flex: 0 0 auto;
    position: relative;
}
.box2.hanger-box{
    margin-top: 6.2em;
}
.content-hanger:hover{
    transform: translateY(-10px);
}
.hanger-box::before{
    content: '';
    display: flex;
    width: 0.3em;
    height: 3.2em;
    background-image: linear-gradient(var(--blue-hover), rgba(255, 255, 255, 0));
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    position: absolute;
}
.box2.hanger-box::before{
    height: 6.4em;
}
.hanger-box::after{
    content: '';
    position: absolute;
    width: 2em;
    height: 2em;
    border: 0.4em solid var(--blue-hover);
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(100% + 3.2em);
    background: #f9f9ff;
    z-index: 2;
}
.box2.hanger-box::after{
    bottom: calc(100% + 5.4em);
}
.content-hanger{
    border-radius: 8px;
    padding: 4em 2.5em;
    justify-items: center;
    background: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    overflow: hidden;
    transition: 0.3s;
}
.content-hanger::before{
    position: absolute;
    content: '';
    display: block;
    bottom: 0em;
    left: 0;
    width: 100%;
    height: 0.4em;
    background-image: linear-gradient(90deg, #CFA2E8, #637FEA);
}

.content-hanger .icon-box{
    display: flex;
    position: relative;
    z-index: 2;
    background: #fff;
    width: 10em;
    height: 10em;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0 13px 14px 0 rgba(129, 104, 145, 0.05);
}
.content-hanger .icon-box img{
    max-height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: absolute;

}
.content-hanger .content-box{
    display: flex;
    flex-direction: column;
}
.content-hanger .content-box .counter{
    font-size: 4em;
    margin: 0.8em 0 0.2em 0;
    font-weight: 700;
    text-align: center;
}
.content-box .counter::after{
    content: '+';
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}
.content-hanger .content-box p{
    display: inline-block;
    font-size: 1.6em;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
    text-align: center;
    line-height: 1.5;
    color: var(--tx1);
}
.top-circle-shape{
    width: 80%;
    height: 80%;
    top: -45%;
    background-image: linear-gradient(90deg, #CFA2E8, #637FEA);
    position: absolute;
    display: flex;
    border-radius: 50%;
    opacity: 0.1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1 ;
}
.top-circle-shape::before{
    content: '';
    width: 85%;
    height: 85%;
    background: #fff;
    position: absolute;
    display: flex;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}
/* Start Testimonial Area */
.testimonial{
    font-size: 1rem;
    padding: 10rem 0;
    overflow: hidden;
}
.scroll-animation-wrapper{
    background: #ffffff;
    width: 7200px;
}
.scroll-animation.rightto-left{
    margin: 1.5em 0;
    display: flex;
}
.scroll-animation.leftto-right{
    margin: 1.5em 0;
    display: flex;
}
.scroll-animation-wrapper .single-testimonial{
    width: 50em;
    padding: 0 1.5em;
}
.single-testimonial .inner-testimonial{
    background-image: linear-gradient(218.15deg, #b966e7 0%, #2f57ef 100%);
    position: relative;
    border-radius: 0.6em;
    text-align: center;
    box-shadow: 0 13px 48px 0 rgba(215, 216, 222, 0.44);
    padding: 4em 3em;
}
.single2.inner-testimonial{
    background: #fff;
}
.inner-testimonial::before{
    background-image: url(https://rainbowit.net/html/histudy/assets/images/icons/quote.svg);
    content: '';
    display: block;
    position: absolute;
    width: 4em;
    height: 4em;
    z-index: 1;
    background-repeat: no-repeat;
    right: 5em;
    top: 5.5em;
}
.inner-testimonial .icon-testi{
    padding: 1.5em 0 1.5em 0;
}
.single2.inner-testimonial .disc-testi p{
    color: var(--tx1);
}
.inner-testimonial .icon-testi img{
    max-height: 5em;
}
.sub-testi .thumb{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0 1em 0;
}
.disc-testi .thumb .img img{
    width: 4em;
    max-width: 4em;
    height: 4em;
    border-radius: 50%;
    object-fit: cover;
    border: 0.2em solid #2f57ef21;
    background: #ffffff;
    padding: 0.2em;
}
.disc-testi p{
    font-size: 1.8em;
    line-height: 1.45;
    font-weight: 500;
    color: #fff;
}
.disc-testi .thumb .thumb-info{
    font-size: 1.6em;
    font-weight: 400;
    color: #FFFFFFAB;
    margin-left: 0.7em;
}
.single2.inner-testimonial .thumb .thumb-info{
    color: #192335;
}
/* Scroll Animation */
.scroll-animation.rightto-left {
    -webkit-animation: scroll 80s linear infinite;
    -moz-animation: scroll 80s linear infinite;
    animation: scroll 80s linear infinite;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.scroll-animation.leftto-right {
    -webkit-animation: scrollLeft 80s linear infinite;
    -moz-animation: scrollLeft 80s linear infinite;
    animation: scrollLeft 80s linear infinite;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-webkit-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -moz-transform: translateX(-moz-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-webkit-calc(-250px * 7));
        -moz-transform: translateX(-moz-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@-webkit-keyframes scrollLeft {
    0% {
        -webkit-transform: translateX(-webkit-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes scrollLeft {
    0% {
        -moz-transform: translateX(-moz-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }

    to {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes scrollLeft {
    0% {
        -webkit-transform: translateX(-webkit-calc(-250px * 7));
        -moz-transform: translateX(-moz-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }

    to {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Start Event Area */
.start-event-layout{
    padding: 5em 0;
    font-size: 1rem;
    background: linear-gradient(90deg, #8DA9FC 0%, #B48DD5 100%);;
}
.start-event-layout .row-event{
    padding: 2em;
}
.start-event-layout .second-title-text-center{
    text-align: center;
    height: 100%;
}
.start-event-layout .sub-title{
    color: #fff;
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 500;
    background: #ffffff21;
    padding: 1em 2em;
    border-radius: 3em;
    display: inline-block;
    margin-bottom: 2em;
}
.start-event-layout .second-title-text-center .title{
    font-size: 4.5em;
    color: #ffffff;
}
.list-events{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3em 0;
}
.list-events.wiper-bot{
    transition: 256ms ease-in-out;
    margin: 0 1em 1em 1em;
    width: 30%;
    max-width: none;
    flex: 0 0 auto;
    height: auto;
}
.card-slide.wiper-bot{
    overflow: hidden;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
    height: 100%;
    color: var(--tx1);
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
}
.card-slide.wiper-bot:hover{
    transform: scale(1.02);
}
.list-events .card-slide .card-saleoff span{
    font-size: 1.1em;
}
.start-event-layout .second-title-text-center{
    text-align: center;
    height: 100%;
}
.list-events .card-title{
    margin-bottom: 0px;
    font-size: 2.2em;
}
.list-events .card-body{
    padding-top: 1.5em;
}
.list-events .slider-btn{
    padding: 0.5em 1em;
    background: #fff;
    border-radius: 2em;
    border: 2px solid #e6e3f1;
    font-weight: 300;
    display: flex;
    align-content: center;
    font-size: 1.2em;
    transition: all 0.4s ease-in-out;
    color: #192335;
    min-width: auto;
    min-height: auto;
    left: 0;
    transform: none;
}
.list-events .slider-btn .warp-course span{
    color: #192335;
}
.list-events .slider-btn:hover{
    background-color: inherit;
    background-position: 102% 0;
    transition: all 0.4s ease-in-out;
}
.list-events .slider-btn:hover span{
    transition-delay: 0.1s;
    transform: translateX(23px);
    color: #192335;
}
.list-events .slider-btn .wrap-icon {
    display: inline-block;
    transition: opacity 0.4s 0.25s, transform 0.6s 0.25s;
    transition-timing-function: ease-out;
}
.list-events .slider-btn:hover .wrap-icon{
    opacity: 0;
    transition-delay: 0s;
    transform: translateX(10px);
}
.list-events .slider-btn .wrap-icon + .wrap-icon {
    order: -2;
    display: inline-block;
    margin-inline-start: 0;
    margin-inline-end: 0;
    opacity: 0;
    transform: translateX(-10px);
    transition-delay: 0s;
}
.list-events .slider-btn .wrap-icon + .wrap-icon i{
    padding-right: 0;
    padding-right: 5px;
}
.list-events .slider-btn:hover .wrap-icon + .wrap-icon {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.225s;
    color: #192335;
}
.swiper.Swiper1{
    padding: 1em;
    padding-bottom: 5em;
}
.swiper.Swiper1:hover .button-prev{
    opacity: 1;
}
.swiper.Swiper1:hover .button-next{
    opacity: 1;
}
.button-prev{
    width: 5em;
    height: 5em;
    background: var(--blue-hover);
    border-radius: 50%;
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: 9;
    left: 5px;
    top: calc(50% - 2.5em);
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
.button-prev:hover{
    transform: scale(1.1);
}
.button-prev .btn-left{
    width: fit-content;
    font-size: 1.8em;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
}
.btn-left .center-icon{
    transition: transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn-left .last-icon{
    position: absolute;
    transform: translateX(200%);
    transition: transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button-prev:hover .center-icon{
    transform: translateX(-200%);
}
.button-prev:hover .last-icon{
    transform: translateX(0);
}

.button-next{
    width: 5em;
    height: 5em;
    background: var(--blue-hover);
    border-radius: 50%;
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: 9;
    right: 5px;
    top: calc(50% - 2.5em);
    transition: all 0.4s ease-in-out;
    opacity: 0;
}
.button-next:hover{
    transform: scale(1.1);
}
.button-next .btn-right{
    width: fit-content;
    font-size: 1.8em;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    display: flex;
}
.btn-right .center-icon{
    transform: translateX(-200%);
    transition: transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn-right .last-icon{
    position: absolute;
    transform: translateX(0);
    transition: transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.button-next:hover .center-icon{
    transform: translateX(0);
}
.button-next:hover .last-icon{
    transform: translateX(200%);
}
.cus-swiper-pagination{
    text-align: center;
}
.cus-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 15px 5px 0 5px;
    width: 6px;
    height: 6px;
    box-shadow: inset 0 0 0 5px #fff;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cus-swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet-active{
    box-shadow: inset 0 0 0 1px #fff;
    transform: scale(2);
    background: transparent;
}

/* End Event Area */
.end-event-layout{
    padding-top: 8em;
    font-size: 1rem;
    margin-bottom: 12em;
}
.list-teacher{
    font-size: 1rem;
    display: flex;
}
.team{
    margin: 1em;
    flex: 8;
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
    border-radius: 0.6em;
}
.team   .info-teacher img {
    max-width: 50%;
}
.tab {
    flex: 4;
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tab .tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    max-width: 30%;
    cursor: pointer;
    padding: 1em;
    margin: 0.4em;
    border-radius: 0.6em;
    background: #ffffff;
    box-shadow: 0 15px 34px 0 rgba(175, 181, 204, 0.32);
}
.tab .tablinks img{
    max-width: 100%;
    border-radius: 0.6em;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.tabcontent {
    display: none;
    padding: 0.6em 1.2em;
    transition: opacity .15s linear;
    position: relative;
    overflow: hidden;
}
.tabcontent .top-circle-shape{
    width: 40%;
    height: 80%;
    top: -40%;
    background-image: linear-gradient(90deg, #CFA2E8, #637FEA);
    position: absolute;
    display: flex;
    border-radius: 50%;
    opacity: 0.1;
    left: 100%;
    transform: translateX(-50%);
    z-index: 1;
}
.tabcontent .top-circle-shape::before {
    content: '';
    width: 78%;
    height: 78%;
    background: #fff;
    position: absolute;
    display: flex;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
}
.list-teacher .tabcontent.active{
    display: block;
}
.team .info-teacher{
    display: flex;
}
.team .info-teacher img{
    max-width: 250px;
    margin: 1.5em;
    border-radius: 0.6em;
}
.info-teacher .info-inner{
    padding: 2em;
}
.info-teacher .info-inner h3{
    font-size: 2.5em;
    line-height: 1.5;
}
.info-teacher .info-inner h4{
    font-size: 1.5em;
    font-weight: 500;
    color: var(--blue-hover);
    line-height: 2;
}
.info-teacher .info-inner .location{
    margin-bottom: 1.8em;
}
.info-teacher .info-inner .location i{
    font-size: 1.5em;
    color: var(--tx1);
}
.info-teacher .info-inner .location span{
    font-size: 1.2em;
    color: var(--tx1);
    font-style: italic;
}
.info-teacher .info-inner p{
    font-size: 1.4em;
    font-weight: 500;
    color: var(--tx1);
}
.thumb-teacher{
    position: relative;
    height: 100%;
}
.thumb-teacher i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8em;
    z-index: 2;
    opacity: 0;
    margin-left: 1.5em;
    transition: 0.3s;
}
.tablinks.active i{
    opacity: 1;
    margin: 0;
}
.thumb-teacher .background-thumb{
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(218.15deg, #b966e7 0%, #2f57ef 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0;
}
.tablinks.active .background-thumb{
    opacity: 0.5;
}
.list-teacher .nav-social{
    margin: 1.5em 0;
    font-size: 1.2em;
    font-weight: 500;
    opacity: 1;
}
.list-teacher .nav-social .social{
    display: flex;
    margin: 1.5em 0;
    width: 100%;
    border-top: none;
    padding-top: 0;
    gap: 10px;
} 
.list-teacher .nav-social .social i{
    overflow: hidden;
    width: 48px ;
    height: 48px;
    font-size: 18px;
    padding: 10px;
    background:  rgb(203, 203, 203, 0.7);
    border: none;
    border-radius: 50%;
    display: block;
    text-align: center;
    transition: 0.3;
}
.list-teacher .nav-social .social i:hover{
    color: #fff;
    background: var(--blue-hover);
}
.list-teacher .contact div:hover{
    color: var(--blue-hover);
}

/* Start Blog Style */
.blog-area{
    font-size: 1rem;
    padding: 5em 0;
    background: #F9F9FF;
}
.blog-area .row-event{
    display: flex;
    justify-content: space-between;
}
.blog-area .row-event .second-title-text-center{
    text-align: start;
}
.blog-area .row-event .second-title-text-center span{
    margin-bottom: 1em;
    background: #DB709321;
    color: #DB7093;
    border-radius: 2em;
}
.blog-area .container-mid .slider-btn{
    min-width: auto;
    margin-top: 0;
    max-height: 4em;
    left: auto;
    transform: translateX(0);
}
.start-blog-area{
    display: flex;
}
.start-single-card{
    flex: 1;
    padding: 0 1.5em;
    margin-top: 2.5em;
}
.end-single-card{
    flex: 1;
    padding: 0 1.5em;
}
.start-blog-area h3{
    font-size: 2em;
}
.start-blog-area .start-single-card .inner-blog-card{
    background: #fff;
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
    border-radius: 0.6em;
    height: 100%;
    transition: 256ms ease-in-out;
}
.start-single-card .blog-card-body{
    padding: 3em;
}
.start-single-card .blog-card-body h3{
    font-size: 2.6em;
}
.start-single-card .blog-card-body p{
    color: var(--tx1);
    font-size: 1.8em;
    line-height: 2;
    margin-top: 1em;
}
.start-blog-area .inner-blog-card img{
    border-radius: 0;
}
.start-blog-area .end-single-card .single-card{
    display: flex;
    background: #fff;
    align-items: center;
    max-height: 15em;
    box-shadow: 0px 6px 34px rgba(215, 216, 222, 0.41);
    margin-top: 2.5em;
    transition: 256ms ease-in-out;
}
.start-blog-area .end-single-card .inner-blog-card img{
    max-width: 29em;
    min-width: 29em;
    border-radius: 0;
    max-height: initial;
    object-fit: cover;
    height: 100%;
}
.single-card .blog-card-body{
    padding: 3em;
}
.blog-card-bottom{
    display: flex;
    font-size: 1.5em;
    align-content: center;
    margin-top: 0.5em;
    line-height: 1.5;
    font-weight: 600;
}
.blog-card-bottom i{
    display: flex;
    position: relative;
    font-size: 1.1em;
    transition: 0.3s;
    font-weight: 400;
}
.blog-card-bottom:hover i{
    transform: translateX(40%);
}
.end-single-card .single-card:hover{
    transform: scale(1.02);
}
.start-single-card .inner-blog-card:hover{
    transform: scale(1.02);
}

/* Newsletter - Area */
.newsletter-area{
    background: #2f57ef;
    padding: 5em 0 20em 0;
    font-size: 1rem;
    color: #fff;
    position: relative;
    z-index: 1;
}
.text-newsletter{
    text-align: center;
    overflow: hidden;
}
.newsletter-area .sub-title {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    background: #ffffff21;
    padding: 0.5em 1em;
    border-radius: 2em;
    display: inline-block;
    margin-bottom: 1em;
}
.newsletter-area .second-title-text-center .title {
    font-size: 4em;
}
.newsletter-area .second-title-text-center p{
    font-size: 1.8em;
    white-space: -0.5px;
    padding: 0 23%;
}
.newsletter-area::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    background: url(https://rainbowit.net/html/histudy/assets/images/shape/dots.png) repeat center/auto;
    z-index: -1;
}
.form-letter{
    margin-top: 1.5em;
    position: relative;
    max-width: 60em;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    background: #ffffff;
    padding: 0.5em 1em;
    border-radius: 8px;
    margin: 3em 0 1em 0;
    left: 50%;
    transform: translateX(-50%);
}
.form-letter input{
    position: relative;
    line-height: 3em;
    color: #6b7385;
    font-size: 1.8em;
    font-weight: 500;
    border: 0 ;
    width: 100%;
    padding-right: 1em;
}
.form-letter .slider-btn{
    position: relative;
    min-width:auto;
    left: auto;
    transform: translateX(0);
    right: 0;
    top: 0;
    margin-top: 0;
}
.text-newsletter p{
    font-size: 1.4em;
    opacity: 0.9;
    margin-bottom: 2em;
}
.single-counter-area{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.single-counter-area .counter__right{
    position: relative;
}
.single-counter-area h3{
    font-size: 5.5em;
}
.single-counter h3::after{
    content: '+';
    font-size: 0.8em;
    font-weight: 600;
    text-align: center;
}
.single-counter-area .single-counter{
    padding: 0 3em;
}
.single-counter-area .single-counter h5{
    font-size: 1.8em;
    margin-bottom: 0.8em;
}
.single-counter-area .single-counter .disc-counter{
    font-size: 1.2em;
    font-weight: 600;
}
.single-counter.counter__right::before{
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background: var(--white1);
    opacity: 0.2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.newsletter-counter{
    min-width: 18em;
}

/* Footer - Area */
.footer-area{
    font-size: 1rem;
    padding: 8em 0 2em 0;
}
.footer-top__inner{
    display: flex;
    flex-wrap: wrap;
}
.footer-area .slider-btn{
    position: relative;
    min-width:auto;
    left: auto;
    transform: translateX(0);
    right: 0;
    top: 0;
    height: 4em;
    padding: 1em 1.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    border: double 4px transparent;
    border-radius: 8em;
    background-image: linear-gradient(white, white), linear-gradient(90deg, #CFA2E8, #637FEA);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 10px 13px 0 rgba(209, 211, 237, 0.39);
}
.footer-area .slider-btn:hover .wrap-icon + .wrap-icon {
    color: var(--black);
}
.footer-area .slider-btn span{
    color: var(--black);
    font-size: 1em;
}
.footer-area .slider-btn:hover{
    background-position: 0;
    transform: translateY(-0.2em);
}
.footer-widget{
    width: 33%;
    margin-right: 8em;
}
.footer-widget p{
    font-size: 1.6em;
    color: var(--tx1);
    opacity: 0.8;
    font-weight: 500;
    margin: 1.5em 0 1em 0;
}
.footer-top__inner{
    padding-bottom: 5em;
}
.footer-top__inner .footer-title{
    width: 16%;
}
.footer-top__inner .footer-title:last-child{
    width: 25%;
}
.footer-top__inner .footer-link{
    display: inline-grid;
    grid-template-columns: auto;
}
.footer-top__inner .footer-link a{
    position: relative;
}
.footer-top__inner .footer-title li{
    font-size: 1.6em;
    color: var(--tx1);
    opacity: 0.8;
    font-weight: 500;
    margin-top: 0.6em;
    position: relative;
    display: inline-block;
}
.footer-top__inner .footer-link li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.footer-top__inner .footer-link li a:hover{
    color: var(--blue-hover);
}
.footer-top__inner .footer-link li a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
    width: 100%;
}
.footer-top__inner .footer-title h5{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
}
.footer-title .social{
    padding-top: 2.5em;
}
.footer-title .social i:hover{
    color: var(--blue-hover);
}
.footer-title .social i{
    font-size: 2em;
    color: var(--tx1);
    opacity: 0.8;
    padding-right: 0.8em;
    transition: 0.3s;
}
.footer-bot{
    border-top: 2px solid #e6e3f1;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
}
.footer-bot__left span{
    font-size: 1.6em;
    color: var(--tx1);
    opacity: 0.8;
    font-weight: 500;
}
.footer-bot .footer-bot__left a{
    color: black;
    font-weight: 600;
}
.footer-bot a{
    font-size: 1.6em;
    color: var(--tx1);
    opacity: 0.8;
    font-weight: 500;
    margin-top: 0.6em;
    position: relative;
    display: inline-block;
}
.footer-bot__right ul{
    display: flex;
}
.footer-bot__right li{
    padding: 0 1em;
    border-left: 1px solid #e6e3f1;
}
.footer-bot__right li:first-child{
    border-left: none;
}
.footer-bot a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}
.footer-bot a:hover::after{
    transform-origin: bottom left;
    transform: scaleX(1);
    width: 100%;
}
.footer-bot a:hover{
    color: var(--blue-hover);
}